<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h1 class="head">
        <img src="~/files/action_assassins_creed_game_video_icon_183192.png" style="margin-right: 20px" />
        <span class="b">Rushtell Test Site</span>
        <img src="~/files/action_assassins_creed_game_video_icon_183192.png" style="margin-left: 20px" />
    </h1>

    @RenderBody()

    <div style="justify-content: center; display: flex; margin: 20px;">
        <form action="~/Home/Index" method="get" style="margin: 0;">
            <input style="padding: 10px;" type="submit" value="На главную" />
        </form>
    </div>
</body>
</html>
<footer style="width: auto">
    <h1 class="footer">
        <span class="b2">©Rushtell Контактная информация: Discord: Rushtell#0591</span>
    </h1>
</footer>
